body{
  text-align: center;
  background-color: lightgrey;
}

header{
  font-size: 40px;
  padding: 10px;
  height: 8vh;
  font-weight: bold;
  color: white;
  background-color: purple;
}

.card{
 display: flex;
 align-items: center;
 justify-content: center;
}

.card-body{
  /* padding-top: 2rem; */
  text-align: center;
  box-shadow: 5px 3px 10px 2px grey;
  height: 70vh;
  width:40%;
  border-radius: 10px;
  background-color: white;
}
input{
  border-radius: 10px 10px 0 0;
  border:0;
  width: 95%;
  height: 4vh;
  padding: 13px 5px 13px 10px;
}

input:focus{
  border: 0;
  outline: 0;
}

.form{
  border-bottom: 2px solid rgb(167, 165, 165,0.4);
}

.details{
  border-top: 2px solid rgb(167, 165, 165,0.4);
 top: 15rem;
 position:relative;
}